/* GERAL */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(images/Trabalho.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 200vh;
}

.interface{
  max-width: 1920px;
  margin: 0 auto;
}

/* TOPO */

#icone {
  width: 400px;
  height: 400px;
  position: absolute;
  top: -135px;
}

#criador {
  width: 75px;
  height: 75px;
  border-radius: 100px;
  margin-left: -250px;
}

#nome {
  color: white;
  position: absolute;
  top: 25px;
  margin-left: -375px;
}

header > .interface{
  display: flex;
  flex-basis: 200px;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(15, 15, 15, 0.3);
  height: 100px;
  width: 1920px;
}

/* ABOUT SECTION */

#bg{
  color: white;
  text-align: center;
  background-color: rgba(15, 15, 15, 0.3);
  width: 770px;
  margin: 0 auto;
  transform: scale(1,20);
  margin-top: -335px;
}

#about {
  color: white;
  margin-top: 100px;
  text-align: center;
  background-color: rgba(15, 15, 15, 0.3);
}

#about-text {
  color: white;
  text-align: center;
  width: 750px;
  margin: 0 auto;
  padding-top: 10px;
  font-family: 'Oswald';
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
}

#content {
  color: white;
  text-align: center;
  margin-top: 75px;
  background-color: rgba(15, 15, 15, 0.3);
}

#content-text {
  color: white;
  text-align: center;
  width: 750px;
  margin: 0 auto;
  padding-top: 10px;
  font-family: 'Oswald';
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
}



